/* Add your custom extension styling here */
.chatLog {
    color: black;
}
.chatType {
    color: black;
    font-weight: bold;
}
.ai-entry {
    width: 250px;
    height: 20px !important;
    border-radius: 100px;
}
.clear-button {
    width: 24px;
}
.copy-button {
    width: 24px;
}
.m-w-100 {
    max-width: 960px;
    text-wrap: wrap;
}
.chat-scroll-section {
    max-height: 800px;
    overflow-y: auto;
}
.chat-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
}
.chat-entry {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px;
    margin-bottom: 5px;
}
.panel-status-menu-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    height: 30px;
    background-color: var(--headerbar-bg-color);
    border-bottom: 1px solid var(--headerbar-border-color);
}
.panel-status-menu-box:hover {
    background-color: var(--headerbar-bg-color-hover);
}
.panel-status-menu-box:active {
    background-color: var(--headerbar-bg-color-active);
}
.panel-status-menu-box-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.panel-status-menu-box-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.panel-status-menu-box-item {
    margin-left: 10px;
    margin-right: 10px;
}
.panel-status-menu-box-item:hover {
    cursor: pointer;
}
.panel-status-menu-box-item-active {
    color: var(--headerbar-fg-color-active);
}
.panel-status-menu-box-item-inactive {
    color: var(--headerbar-fg-color);
}
.panel-status-menu-box-item-disabled {
    color: var(--headerbar-fg-color-disabled);
}
.panel-status-menu-box-item-icon {
    width: 20px;
    height: 20px;
    padding: 0px;
}
.panel-status-menu-box-item-label {
    margin-left: 5px;
}
.panel-status-menu-box-item-label-active {
    color: var(--headerbar-fg-color-active);
}
.panel-status-menu-box-item-label-inactive {
    color: var;
}
.gemini-icon {
    background-image: url('assets/icon_gemini.png');
    background-size: 24px;
    width: 24px;
    height: 24px;
    padding: 0px;
}
.mic-icon {
    background-image: url('assets/icon_mic.png');
    background-size: 24px;
    width: 24px;
    height: 24px;
    padding: 0px;
}
.mic-icon:checked {
    background-image: url('assets/icon_mic_on.png');
}
.settings-icon {
    /*background-image: url("assets/settings.png");
    background-size: 20px;*/
    width: 15px;
    height: 15px;
    color: var(--headerbar-fg-color);
    padding: 1px;
}
.trash-icon {
    /*background-image: url("assets/trashcan.png");
    background-size: 30px;*/
    width: 20px;
    height: 20px;
}
